.container {
    border-radius: 15px;
    border: 2px solid white;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    margin: 30px auto;
    text-align: center;
}

button {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #7AB4AB;
}

img {
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border: 2px solid white;
    border-radius: 10px;
}

p {
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid white;
    padding: 10px;
    background: #f5f5f5;
    color: #333;
}